<div class="dialog-panel">
  <div>
    <img class="dialog-image" [src]="images[index].src" alt="Image" (click)="closeThisDialog()">
  </div>
  <div class="dialog-actions">
    <button mat-raised-button class="dialog-button" (click)="index = (index - 1 + images.length) % images.length">Prev</button>
    <button mat-raised-button class="dialog-button" mat-dialog-close>Close</button>
    <button mat-raised-button class="dialog-button" (click)="index = (index + 1 + images.length) % images.length">Next</button>
  </div>
</div>
