.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top:    8px;
  left:   8px;
  right:  8px;
  bottom: 8px;
  cursor: pointer;
}

.dashboard-card-album {
  position: absolute;
  top:    2px;
  left:   8px;
  right:  8px;
  bottom: 2px;
  cursor: pointer;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.dashboard-img {
  width: 100%;
}
