<div
  class="infinite-scroll"
  infinite-scroll
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="300"
  [scrollWindow]="false"
  (scrolled)="loadMoreImage()">
  <mat-grid-list cols="1" rowHeight="64px" style="margin: 16px 8px 0 8px" *ngIf="albums.length > 0">
    <mat-grid-tile *ngFor="let album of albums" [colspan]="1" [rowspan]="1">
      <mat-card class="card-album" routerLink="/album" [queryParams]="{path:album.path}">
        <mat-card-header class="card-album-header">
          <mat-card-title>
            <span class="card-album-title">
              {{album.title}}
            </span>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <app-image-masonry [images]="loadedImages"></app-image-masonry>
</div>

