.infinite-scroll {
  height: 100%;
  overflow: scroll;
}

.card-album-header {
  position: relative;
}

.card-album-title {
  position: absolute;
  left:  10px;
  right: 10px;
  overflow: hidden;
  text-overflow:ellipsis;
  word-break:keep-all;
  white-space: nowrap;
}

.card-album {
  position: absolute;
  top:    2px;
  left:   8px;
  right:  8px;
  bottom: 2px;
  cursor: pointer;
}
