<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="title">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="back()">
        <mat-icon aria-label="Side nav toggle icon">arrow_back</mat-icon>
      </button>
      <span class="title">{{title}}</span>
      <div>
        <button
          type="button"
          aria-label="Sync"
          mat-icon-button
          (click)="reload()">
          <mat-icon aria-label="Side nav toggle icon" style="color: white">sync</mat-icon>
        </button>
        <button
          type="button"
          aria-label="Home"
          mat-icon-button
          routerLink="album">
          <mat-icon aria-label="Side nav toggle icon">home</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
