.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.right-button-group {
  position: absolute;
  bottom: 10px;
  right:  10px;
  color: white;
}
