<ngx-masonry
  [useImagesLoaded]="false"
  [options]="masonryOptions"
  [style.width.px]="width"
  #masonry
  class="masonry-container">
  <ngxMasonryItem
    class="masonry-item"
    [ngClass]="itemClass"
    [style.width.px]="itemWidth"
    *ngFor="let img of images">
    <div class="image-container">
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Download</button>
        <button mat-menu-item>Search</button>
      </mat-menu>
      <img class="image"
           [lazyLoad]="img.src"
           [defaultImage]="loadingImage"
           (onLoad)="masonry.layout()"
           alt="{{img.title}}">
    </div>
  </ngxMasonryItem>
</ngx-masonry>
