<ngx-masonry
  [useImagesLoaded]="false"
  [options]="masonryOptions"
  [style.width.px]="containerWidth"
  #masonry
  class="masonry-container">
  <ngxMasonryItem
    class="masonry-item"
    [ngClass]="isMobile ? 'masonry-item-mobile' : 'masonry-item-desktop'"
    *ngFor="let img of loadedImages; index as index">
    <div class="image-container">
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Download</button>
        <button mat-menu-item>Search</button>
      </mat-menu>
      <img class="image"
           [src]="img.src"
           (load)="updateLayout()"
           (click)="openImageViewer(index)"
           alt="{{img.title}}">
    </div>
  </ngxMasonryItem>
</ngx-masonry>
<div class="counter">
  <p>
    - {{images.length}}/{{imagesNum}} -
  </p>
</div>
