.masonry-container {
  margin: 0 auto;
}

.masonry-item-mobile {
  width: 50%;
}

.masonry-item-desktop {
  width: 250px;
}

.image-container {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.image {
  width: 100%;
  border-radius: 10px;
}

.more-button {
  position: absolute;
  bottom: 10px;
  right:  10px;
  color: white;
}

.counter {
  width: 100%;
  color: gray;
  text-align: center;
}
